<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qualco.casestudy.repository.RegionMapper">

    <select id="findAll" resultType="Region">
        SELECT
            region_id AS regionId,
            name,
            continent_id AS continentId
        FROM regions
        ORDER BY name;
    </select>

</mapper>
